

.cardx{
    border: 2px solid darkblue;
    border-radius: 5px;
    margin: 10px 0;
}
.card-left-img img{
    width: 60px;
    margin-right: 10px;
}

.card-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-left-details h3{
    margin: 0;
}