
.header-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 60px;
    background-color: #045B62;
    color: white;
}
.header-div span{
    display: flex;
    justify-content: center;
    align-items: center;
    color: orangered;
    border: 3px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 11px;
    font-size: 22px;
}
.left-side h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side a{
    text-decoration: none;
    color: white;
    margin: 0 20px;
    font-weight: 600;
}